html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #ded1d1;
}
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #444;
}

ul li {
    margin: 0 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

.imagen {
    position: relative; 
    z-index: 10; 
    flex-direction: column;
    display: flex;
    width: 200px;
}

footer{
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;

}

.fotos{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.contenido-formulario{
    border: 1px solid white;
}

* {
    box-sizing: border-box;
}


/*Pagina de contactos*/


.contact-container {
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.contact-form {
    width: 500px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.contact-form:hover{
    transform: scale(1.05);
}

.contact-form h2 {
    margin: 0 0 10px;
    color: #333;
}

.contact-form p {
    margin-bottom: 25px;
    color: #666;
    font-size: 14px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #444;
}

button {
    width: 100%;
    padding: 12px;
    color: #ffffff;
    border: none;
    background-color: #444;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    border: solid 1px #444;
    background-color: #ffffff;
    color: #333;
}

.contacto-form{
    width: 500px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.contacto-form:hover {
    transform: scale(1.05);
}

.whassap{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

.gmail{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contacto-form h2{
    text-align: center;
}

 
/* Quienes somos*/
.personas {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    padding: 20px;
    margin: 20px;
    gap: 10px;
}

.Titulo{
    text-align: center;
}
.pedro{
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
    justify-content: center;
    align-content: center;
}

.pablo{
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.personas img{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.isaias{
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.chima{
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.dani{
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

/*Página principal*/

.paginaprincipal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin:  auto;
    min-width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.resumen{
    width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.Que_ofrecemos{
    width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.sobre_nosotros{
    width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}

.contacto{
    width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;
}


.contenedor-producto{
    width: 700px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fila p{
    width: 45%;
    text-align: left;
}

.fila img{
    width: 45%;
    height: auto;
}